/* 
    FIXME: 
    (1) remove the references to google fonts and bring everything inhouse.  
    (2) credit Karnata F Kittel Font Creators 
*/ 

* {
    margin: 0px; 
    padding: 0px; 
}

body {
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Cormorant Garamond", serif;
    /* font-optical-sizing: auto; */
    font-style: normal;

    display: flex; 
    flex-direction: column;
    align-items: center;

    /* background-color: lightblue; */
}

.title-line-1 {
    font-weight: 300;
    font-size: 50px; 
}

.title-line-2 {
    font-weight: 300;
    font-size: 60px; 
}

.title-line-3 {
    font-weight: 350;
    font-size: 100px; 
}

.letters {
    font-family: 'KarnataFKittel'; 
    font-size: 40px; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 0 auto; 
    justify-content: flex-end;
    margin-bottom: 30px; 
}

.progress-bar-title {
    font-family: "Cormorant Garamond", serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
}

.progress-bar-viz {
    background-color: lightgrey;
    width: 50vw; 
    height: 5px;
    border-radius: 5px;
}

.progress-bar-viz-complete {
    background-color: lightgreen;
    width: 0.36vw; 
    height: 5px;
    border-radius: 5px;
}